/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&family=Varela&family=Varela+Round&display=swap');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
nav {
    background-color: rgb(65, 9, 66);
    color: white;
    height: 60px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

/* Game Container Styles */
.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Game Board Styles */
.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* Line Styles */
.line {
    background-color: rgb(65, 9, 66);
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

/* Box Styles */
.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(207, 194, 219);
}

/* Game Info Styles */
.gameInfo {
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1 {
    font-size: 2.5rem;
}

.info {
    font-size: 30px;
}

/* Image Box Styles */
.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

/* Border Styles */
.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

/* Reset Button Styles */
#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background-color: rgb(207, 194, 219);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

/* Media Query for 768px Breakpoint */
@media screen and (max-width: 768px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

    .line {
 width: 0;
    }
}
